
@import url(./font.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 80%;
    margin: 0 auto;
}


body{
    height: 2000px;
}



/* !doctor profile 1 css codes */



/* header css code */
.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background: #fff;
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav .left{
    display: flex;
    align-items: center;
    padding: 20px 0;
}

nav .left img{
    margin-left: 18px;
    cursor: pointer;
}

.right select{
    padding: 10px 12px;
    border: 1px solid #eaeaea;
    cursor: pointer;
    border-radius: 8px;
}

@media(max-width:576px){
    header .right select{
        display: none;
    }

    .container{
        width: 100%;
    }

    nav .left a img{
        width: 121px;
        height: 32px;
    }

}


nav .right a{
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    font-family: 'HRMedium';
    border: 1px solid #eaeaea;
    border-radius: 8px;
    width: 108px;
    height: 40px;
    padding: 10px 24px;
    margin-left: 10px;
    text-decoration: none;
    text-align: center;
}



.right a:nth-child(2){
    color: #252525;
}

@media(max-width:576px){
    header .right a:nth-child(2){
        display: none;
    }

    .right a:nth-child(3){
        background-color: #4CB147;
        color: #fff;
        width: 86px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        font: size 12px;
        line-height: 16px;
        font-weight: 400;
        font-family: 'HRRegular';
    }
}


.right a:nth-child(3){
    background-color: #4CB147;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    font-family: 'HRMedium';
}
/* header css code */






/* doctors-list  css code */
.doctors-list{
    margin-top: 32px;
    position: relative;
    border: 1px solid #EDF0F4;
    background-color: #FBFBFC;
    height: 248px;
}

.umumi-section{
    padding: 32px 0;
}

.doctors-list .bitir{
    position: absolute;
    bottom: 50%;
    right: 0%;
}

.doctors-list .left-side{
    display: flex;
    padding: 20px;
}


.doctors-list .left-side .shekil-hisse{
    position: relative;
}

 
.doctors-list .shekil-hisse::before{
    content: '';
    background-image: url(../icon/heart.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    top: 0%;
    left:0%;
    position: absolute;
}

.umumi-section .left-side .text-hisse{
    padding: 0px 24px;
    position: relative;
 }

.umumi-section .text-hisse .txt{
    color: #4CB147;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    font-family: 'HRMedium';
    letter-spacing: -0.15px;
}

.umumi-section .text-hisse h2{
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    font-family: 'HRMedium';
}

.umumi-section .text-hisse p{
    font: size 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRMedium';
    color: #273142;
}

.umumi-section .text-hisse .xst{
    font: size 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRRegular';
    color: #848B98;
}


.umumi-section .text-hisse span{
    margin-left: 10px;
}


.umumi-section .text-hisse .unvan::after{
    content: '';
    background-image: url(../icon/dote.svg);
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 59%;
    right: 20%;
}



.umumi-section .text-hisse .unvan::before{
    content: '';
    background-image: url(../icon/dote.svg);
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 59%;
    left: 20%;
    

}





.umumi-section .text-hisse .xst::after{
    content: '';
    background-image: url(../icon/dote.svg);
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 83%;
    right: 33%;
}



.umumi-section .text-hisse .xst::before{
    content: '';
    background-image: url(../icon/dote.svg);
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 83%;
    left: 37%;
}


.doctors-list .gorus{
    display: none;
}

.umumi-section .btnn{
    display: none;
}









@media(max-width:576px){

      .doctors-list{
        height: 320px;
      }

      
.doctors-list .umumi-section{
    padding: 0px;
}

.umumi-section .text-hisse .txt{
    color: #4CB147;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'HRMedium';
    letter-spacing: -0.15px;
}

.umumi-section .text-hisse  h2{
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    font-family: 'HRMedium';
    margin-top: -1px;
}

.umumi-section .text-hisse .unvan{
    font: size 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRMedium';
    color: #273142;
    position: relative;
    top: 15%;
    left: -40%;
    padding: 15px 0px;

}

.umumi-section .text-hisse .xst{
    font: size 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRRegular';
    color: #848B98;
    position: relative;
    top: 0%;
    left: -40%;

}


.umumi-section .text-hisse span{
    margin-left: 20px;
}



.umumi-section .text-hisse .unvan::after{
    content: '';
    background-image: url(../icon/dote.svg);
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 45%;
    right: 15%;
}




.umumi-section .text-hisse .unvan::before{
    content: '';
    background-image: url(../icon/dote.svg);
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 45%;
    left: 15%;
}




.umumi-section .text-hisse .xst::after{
    content: '';
    background-image: url(../icon/dote.svg);
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 35%;
    right: 30%;
}



.umumi-section .text-hisse .xst::before{
    content: '';
    background-image: url(../icon/dote.svg);
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 35%;
    left: 35%;
}


     .umumi-section  .gorus{
        display: flex;
        margin-left: 40px;
        margin-top: -30px;
        
     } 



     .doctors-list  .gorus .birinci-gorus{
        width: 160px;
        height: 48px;
        border: 1px solid #EDF0F4;
        border-radius: 8px;
        padding: 15px;
        position: relative;
        display: flex;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s linear;
    }

    .doctors-list  .gorus .birinci-gorus:hover{
        box-shadow: 0px 0px 15px rgba(0, 0,0, 0.4);
        border: 1px solid #4CB147;
    }



    
    .doctors-list  .gorus .birinci-gorus p{
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        font-family: 'HRRegular';
        margin-left: 5px;
    }
    .doctors-list .gorus .birinci-gorus .gorush-icon{
        width: 32px;
        margin-top: -10px;
        height: 32px;
       
    }

    .doctors-list .gorus .birinci-gorus .info-icon{
       display: none;
    }
    
    
    .doctors-list  .gorus .ikinci-gorus{
        width: 160px;
        height: 48px;
        border: 1px solid #D45A5A ;
        border-radius: 8px;
        margin-left: 10px;
        background: #FAECEC;
        padding: 15px;
        position: relative;
        display: flex;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s linear;
        
    }
    .doctors-list .gorus .ikinci-gorus .gorush-icon{
        width: 32px;
        margin-top: -10px;
        height: 32px;
       
    }
    
    .doctors-list .gorus .ikinci-gorus p{
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        font-family: 'HRRegular';
        margin-left: 5px;
        
    }

    .doctors-list  .gorus .ikinci-gorus .info-icon{
       display: none;
    }



    .doctors-list  .gorus .ikinci-gorus:hover{
        box-shadow: 0px 0px 15px rgba(0, 0,0, 0.4);
        border: 1px solid #4CB147;
    }




  .umumi-section .btnn{
    display: flex;
    margin-top: 16px;
    border: 1px solid #4CB147 ;
    width: 328px;
    height: 40px;
    border-radius: 8px;
    margin-left: 40px;
    padding: ;
    text-align: center;
    justify-content: center;
    background: #4CB147;
    color: #fff;
    text-decoration: none;
    padding: 7px 0px;

  }

}


/* doctors-list  css code */













/* about-section css code */

.aboutt{
    border: 1px solid #EDF0F4;
    width: 100%;
    
   
}

.aboutt ul{
    display: flex;
    margin-left:-45px;
}

.aboutt ul li{
    list-style: none;
}

.aboutt ul li a{
    display: flex;
    justify-content: center;
    color: #848B98;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.25px;
    font-weight: 400;
    margin-top: 7px;
    font-family: 'HRRegular';
    padding:8px;
    cursor: pointer;
}

.aboutt ul li .active{
    color: #273142;
}

@media(max-width:576px){
 
    .aboutt{
        margin-right: 0px;
    }

    
.aboutt ul{
    display: flex;
    margin-left: 0px;
}

    .aboutt ul li a{
        display: flex;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.25px;
        font-weight: 400;
        font-family: 'HRRegular';
        padding: 5px;
        margin-top: 7px;
    }

}

/* about-section css */







/* about-text section css code */

.haqqinda{
    margin-top: 32px;
    position: relative;
}


.haqqinda p:nth-child(2){
    padding-top: 16px;
}

.haqqinda .deyer{
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.haqqinda span{
    padding: 0px 7px;
}

.haqqinda p:nth-child(4){
    padding: 16px 0px;
}

.haqqinda .iconss{
    display: flex;
    flex-direction: column;
    position: relative;
    
   
}

.haqqinda .iconss .ic{
    text-decoration: none;
    color: #252525;
    margin-bottom: 15px;
    font-size: 16px;
    line-height:24px;
    letter-spacing: -0.25px;
    font-weight: 400;
    font-family: "HRRegular";
    margin-left: 40px;
}

.haqqinda .iconss .ic::after{
    content: '';
    background-image: url(../icon/phone-icon.svg);
    width:32px;
    height: 32px;
    background-repeat: no-repeat;
    position: absolute;
    top: -7%;
    left: 0%;
}

.haqqinda .iconss .ic::before{
    content: '';
    background-image: url(../icon/msj-icon.svg);
    width:32px;
    height: 32px;
    background-repeat: no-repeat;
    position: absolute;
    top: 45%;
    left: 0%;
}

.haqqinda .check-icon{
    position: absolute;
    top: 0%;
    right: 36%;
}

.haqqinda .gorus-icon{
    position: absolute;
    top: 27%;
    right: 38%;
}

 @media(max-width:576px){
.about-section{
    margin-top: 50px;
}
 
    .about-text{
        padding: 0px 28px;
        display: flex;
        flex-direction: column;
    }

    .haqqinda .check-icon{
      display: none;
    }
    
    .haqqinda .gorus-icon{
      display: none;
    }

    .haqqinda .iconss .ic{
        margin-bottom: 0px;
    }
    .haqqinda p:nth-child(2){
        padding-top: 0px;
    }
    
    .haqqinda .deyer{
        margin-top: 8px;
        display: flex;
        align-items: center;
    }
    
    .haqqinda span{
        padding: 0px 7px;
    }
    
    .haqqinda p:nth-child(4){
        padding: 0px;
    }

    .haqqinda .iconss .ic{
        margin-bottom: 20px;
    }
}








.tehsil{
    margin-top: 52px;
    width: 654px;
}


.tehsil h3{
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
    font-family: 'HRMedium';
}

.tehsil h5{
    padding-top: 16px;
    font-size: 14px;
    color: #848B98;
    line-height: 20px;
    font-weight: 400;
    font-family: 'HRMedium';

}

.tehsil p{
    padding: 4px 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRMedium';
}


@media(max-width:576px){
    .tehsil{
        margin-top: 32px;
        width: 300px;
    }

    .tehsil h3{
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        font-family: 'HRMedium';
        color:#101825 ;
        letter-spacing: -0.15px;
    }

}









.ish-saati{
    margin-top: 48px;
    position: relative;
}

.ish-saati h3{
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    font-family: 'HRMedium';
}

.ish-saati>p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRMedium';
    padding: 8px 0px;
}

.ish-saati .boxes{
    width: 654px;
    height: auto;
    border: 1px solid #EDF0F4;
    border-radius: 8px;
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
    position: relative;
}

.ish-saati .boxes p{
    padding: 12px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRMedium';
}

.ish-saati .boxes .left-box{
    color: #848B98;
}


.ish-saati .xett{
    position: absolute;
    bottom:25%;
}

.ish-saati .boxes .xett{
    border-top: 1px solid #EDF0F4;
    width: 650px;
    margin-bottom: 20px;
}


@media(max-width:576px){
    .ish-saati .boxes{
        max-width: 576px;
        width: 100%;
        height: auto;
    }

    .ish-saati .boxes .xett{
        max-width: 576px;
        width: 100%;
    }
}








.unvans{
    margin-top: 48px;
    width: 600px;
}

.unvans .unvans-text{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 8px;
    position: relative;
}

.unvans .unvans-text h4{
     font-size: 24px;
     line-height: 32px;
     font-weight: 500;
     font-family: 'HRMedium';
     color: #101825;
}

.unvans .unvans-text P{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRMedium';
    color: #848B98;
    letter-spacing: -0.5px;
}

.unvans .unvans-text P::after{
    content: '';
    background-image: url(../icon/sag-unvan.svg);
    position: absolute;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    top: -26%;
    right: 10%;

}


.unvans .unvans-text P::before{
    content: '';
    background-image: url(../icon/sag-unvan.svg);
    position: absolute;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    top: -21%;
    right: -8%;
    transform: rotate(180deg);
}

.unvans . p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRRegular';
    color:#273142;
    letter-spacing: -0.5px;
}

.unvans .seconds{
    display: none;
}



@media(max-width:576px){


    .unvans{
       max-width: 576px;
       width: 100%;
       position: relative;
    }

    .unvans-text{
        margin-top: -30px;
    }
     .unvans .ifr{
        max-width: 576px;
        width: 100%;
        margin-top: 30px;
    }

    .unvans p{
        margin-top: -10px;
    }

    .unvans .unvans-text p{
       display: none; 
    }

    .unvans .seconds{
       display: block;
       font-size: 16px;
       line-height: 24px;
       font-weight: 400;
       font-family: 'HRRegular';
       color:#273142;
       letter-spacing: -0.5px;
       text-align: center;
       margin-top: 20px;

    }

    .unvans .seconds::after{
        content: "";
        background-image: url(../icon/sag-unvan.svg);
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 14%;
        left: 0%;
        padding: 7px;
        cursor: pointer;
    }


    
    .unvans .seconds::before{
        content: "";
        background-image: url(../icon/sag-unvan.svg);
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 14%;
        right: 0%;
        padding: 7px;
        transform: rotate(180deg);
        cursor: pointer;
    }

}








.kurslar{
    width: 360px;
    height: 104px;
    margin-top: 70px;
}

.kurslar h3{
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    font-family: 'HRMedium';
    padding-bottom: 16px;
}


.kurslar h6{
    padding: 10px 0;
    color: #848B98;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'HRMedium';
}


.kurslar p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRMedium';
}






.sigortalar{
   margin-top: 25%;
}

.sigortalar h3{
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    font-family: 'HRMedium';
    margin-bottom: 16px;
}

.sigortalar p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'HRMedium';
}


.sigortalar .sigorta1{
    width: 654px;
    height: 56px;
    border: 1px solid #EDF0F4;
    outline: none;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    margin-bottom: 8px;
}



@media(max-width:576px){
    .sigortalar{
        margin-top: 70%;
       
    }

    .sigortalar h3{
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    font-family: 'HRMedium';
    margin-bottom: 16px;
    }
    

    .sigortalar .sigorta1{
        max-width: 576px;
        width: 100%;
        cursor: pointer;
    }

    .sigortalar .sigorta1 p{
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        font-family: 'HRMedium';
        color: #101825;
        letter-spacing: -0.1px;
    }

}






.reyler{
    margin-top: 50px;
    width: 654px;
    height: 94px;
}

.reyler h3{
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    font-family: 'HRMedium';
}

.reyler h4{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'HRMedium';
    display: flex;
    align-items: center;
    padding: 16px 0px;
}


.reyler .yazilar1{
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRRegular';
    letter-spacing: -0.5px;
}

.reyler .vl1, .vl2, .vl3{
    color:#848B98;
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 32px;
}


.reyler span{
    cursor: pointer;
}





@media(max-width:576px){
    .reyler{
        width: auto;
    }

    .reyler h3{
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        font-family: 'HRMedium';
        color: #101825;

    }


    .reyler h4{
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        font-family: 'HRMedium';
        display: flex;
        align-items: center;
        padding: 16px 0px;
    }

    .reyler .yazilar2, .yazilar3, .vl1:not(:first-child){
        display: none;
    }

    .yazilar1{
        font: size 14px;
        line-height: 20px;
        font-weight: 400;
        font-family: "HRRegular";
    }

}

/* about-text section css code */








/* gorus-gotur section css code */

.gorus-gotur{
    width:416px;
    height: auto;
    border: 1px solid #EDF0F4;
    border-radius: 8px;
    position: absolute;
    background-color: #fff;
    top: 22%;
    right: 7%;
    padding: 0px 16px;

}

.gorus-gotur h3{
    padding: 12px;
    margin-top: 24px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    font-family: 'HRMedium';
}


.gorus-gotur p{
    font-size: 16px;
    line-height: 24px;
    color: #848B98;
    font-weight: 400;
    font-family: 'HRRegular';
}

.gorus{
    display: flex;
    align-items: center;
    margin-top: 12px;
    cursor: pointer;
}

 .gorus .birinci-gorus{
    width: 172px;
    height: 80px;
    border: 1px solid #EDF0F4;
    border-radius: 8px;
    padding: 6px;
    position: relative;
    transition: all 0.3s linear;

}

 .gorus .birinci-gorus p{
    font-size: 14px;
    line-height: 16px;
    font-family: 'HRMedium';
}

.gorus .birinci-gorus .info-icon{
    position: absolute;
    top: 5%;
    right: 5%;
}



 .gorus .ikinci-gorus{
    width: 194px;
    height: 80px;
    border: 1px solid #F2FAF2;
    border-radius: 8px;
    padding: 6px;
    position: relative;
    margin-left: 5px;
    transition: all 0.3s linear;
}

.gorus .ikinci-gorus:hover{
    background-color:#F2FAF2;
    cursor: pointer;
}


.gorus .birinci-gorus:hover{
    background-color:#e4a5a5;
    cursor: pointer;
}



 .gorus .ikinci-gorus p{
    font-size: 14px;
    line-height: 16px;
    font-family: 'HRMedium';
}

 .gorus .ikinci-gorus .info-icon{
    position: absolute;
    top: 5%;
    right: 5%;
 }


 
.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    user-select: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 10px;
    border: 1px solid #EDF0F4;
    width: 374px;
    height: 56px;
    border-radius: 8px;
    margin-bottom: 8px;
  
    
}

.checkbox input {
    position: absolute;
    width: 0;
    left: 50px;
    height: 0;
    opacity: 0;
    cursor: pointer;
}

.checkbox .checkmark {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 3px;
    outline: 1px solid #acacac;
    transition: all 0.2s ease;
}

.checkbox:hover .checkmark {
    background: #f4f4f5;
    transition: all 0.2s ease;
}

.checkbox input:checked ~.checkmark {
    background: #4CB147;
    outline: 1px solid #4CB147;
}

.checkbox input[type="radio"] ~ .checkmark {
    border-radius: 50%;
}

.checkbox .checkmark::after {
    position: absolute;
    display: block;
    content: "";
    left: 50%;
    top: 40%;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 0;
    transition: all 0.2s ease;
}

.checkbox input:checked~.checkmark::after {
    opacity: 1;
    transition: all 0.2s ease;
}


.right-side{
    display: flex;
    padding: 0px;
}

.right-side ul{
    margin-left: -28px;
}

.right-side ul p{
    border: 1px solid #EDF0F4;
    border-radius: 8px;
    text-align: center;
    padding: 8px;
    margin: 0px 5px;
    margin-bottom: 21px;
    color: #101825;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'HRMedium';

}

.right-side ul p span{
    color: #B7BBC2;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-family: 'HRMedium';
}




 .right-side ul li{
    list-style: none;
}


.right-side ul li a{
    text-decoration: none;
    color: #252525;
    margin-bottom: 5px;
    border: 1px solid #EDF0F4;
    padding: 12px;
    border-radius: 7px;
    display: inline-block;
    background-color: #EDF0F4;
    cursor: pointer;
    
}

.gorus-gotur button{
    width: 352px;
    height: 40px;
    border: 1px solid #EDF0F4;
    background-color: #4CB147;
    border-radius: 8px;
   margin: 16px 0px;
   cursor: pointer;
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;
   font-family: 'HRMedium';
   color: #fff;
    
}

@media(max-width:576px){
    .gorus-gotur{
        display: none;
    }
}

/* gorus-gotur section css code */

















/**footer css code */


footer{
    margin-top: 40%;
    background-color: #101825;
}

.footer-content{
    display: flex;
}


.footer-content .left{
    padding: 40px;
}

.footer-content .left .groups{
    margin-top: 120px;
    display: flex;
    align-items: center;
    
}

.footer-content .left .groups img{
   padding-right: 7px;
}


.footer-content .right {
    display: flex;
    padding: 40px 0px;
}

.footer-content .right ul{
    list-style: none;
    margin-left: 250px;
}

.footer-content .right ul li{
   list-style: none;
}

.footer-content .right ul p{
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'HRMedium';
}


.footer-content .right ul li a{
    text-decoration: none;
    color: #fff;
    padding: 6px 0;
    display: inline-block;
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'HRMedium'
}



.footer-bottom{
    background-color: rgba(16, 17, 22, 0.4);
    padding: 0 20px;

}


.footer-bottom .umumi{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}


.footer-bottom .left ul{
    display: flex;
}


.footer-bottom .left ul li{
    list-style: none;
    color: #fff;
}

.footer-bottom .left ul li a{
    display: inline-block;
    padding: 15px;
}
 


@media(max-width:576px){

    footer{
        margin-top: 40%;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .footer-content{
        display: flex;
        flex-direction: column;
    }
    
    .footer-content .left{
        padding: 0px;
        margin-top: 8px;
    }
    .footer-content .left .groups{
        margin-top: 23px;
    }

    .footer-content .right{
        display: flex;
        flex-direction: column;
        padding: 0px auto;

    }

    .footer-content .right ul{
       margin-left: -20px;
    }

    .footer-content .right ul p{
        margin: 20px 0px;
    }

    .footer-bottom .umumi .right p{
        padding: 15px 0px;
      }

    .footer-bottom{
        height: 70px;
    }


    .footer-bottom .umumi{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .footer-bottom .umumi .left{
        position: absolute;
        bottom: 8%;
        left: -6%; 

    }
    
   

}