
@import url(../css/font.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #FCFCFD;
}





/** header css code */
.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background: #fff;
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav .left{
    display: flex;
    align-items: center;
    padding: 20px 0;
}

nav .left img{
    margin-left: 18px;
    cursor: pointer;
}

.right select{
    padding: 10px 12px;
    border: 1px solid #eaeaea;
    cursor: pointer;
    border-radius: 8px;
}

@media(max-width:576px){
    header .right select{
        display: none;
    }

    .container{
        width: 100%;
    }

    nav .left a img{
        width: 121px;
        height: 32px;
    }

}


nav .right a{
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    font-family: 'HRMedium';
    border: 1px solid #eaeaea;
    border-radius: 8px;
    width: 108px;
    height: 40px;
    padding: 10px 24px;
    margin-left: 10px;
    text-decoration: none;
    text-align: center;
}



.right a:nth-child(2){
    color: #252525;
}

@media(max-width:576px){
    header .right a:nth-child(2){
        display: none;
    }

    .right a:nth-child(3){
        background-color: #4CB147;
        color: #fff;
        width: 86px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        font: size 12px;
        line-height: 16px;
        font-weight: 400;
        font-family: 'HRRegular';
    }
}


.right a:nth-child(3){
    background-color: #4CB147;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    font-family: 'HRMedium';
}

/* header css code */








/* firstsection css code */

.firstSection{
    background-image: url(../image/axtaris-background.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 472px;
    background-size: cover;
}

@media(max-width:576px){
    .firstSection{
        background-image: none;
       height: auto;
        width: 100%;
        border: 1px solid #EDF0F4;
        
    }
    .firstSection .stay, ul img{
        display: none;
    }
}



@media(max-width:576px){
    .firstSection form{
    margin-left: -10px;

        

    }
}

.firstSection form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 96px;
}



.firstSection .form-group input{
    width: 752px;
    height: 48px;
    border: 1px soldi #eaeaea;
    outline: none;
    border-radius: 8px;
    padding-left: 50px;
    margin-bottom: 10px;
}


@media(max-width:576px){
    .firstSection .form-group input{
        width: 410px;
        height: 44px;
        outline: none;
        border: 1px solid #EDF0F4;
    }
    .firstSection form{
        margin-top: 10px;
    }

}



form h1{
    margin-bottom: 20px;
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    font-family: 'HRMedium';
}

@media(max-width:576px){
    .firstSection form h1{
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        font-family: 'HRMedium';
        color: #101825;
        margin-bottom: 5px;
        margin-left: -25%
    }
}




.firstSection .form-group {
    position: relative;
}

.firstSection .form-group .src-icon{
    position: absolute;
    top: 22%;
    left: 1%;
    cursor: pointer;
}
    
@media(max-width:576px){
    .firstSection .form-group .src-icon{
      position: absolute;
      top: 20%;
      left: 3%;  
    }

    .firstSection ul li .stay{
        display: none;
    }

}


.firstSection ul{
    display: flex;
    position: relative;
    align-items: center;
}

@media(max-width:576px){
    .firstSection ul{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: -30%;
    }
}





.firstSection ul li:first-child{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'HRRegular';
   
}

.firstSection ul li{
    list-style: none;
}


.firstSection form ul li a{
    text-decoration: none;
    color: #252525;
    padding: 8px;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'HRRegular';
    transition: all 0.3s linear;
}


/** firstSection css code */







/* *information-section css code */

.box-item{
    margin-top: 50px;
    width: 556px;
    height: 304px;
    border: 1px solid #EDF0F4;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

}

 .box-item .right-box{
    width: 80%;
}

.box-item .right-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-item .left-box{
    padding: 24px;
    position: relative;
}


.box-item .left-box h3{
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    font-family: 'HRMedium';
}


.box-item .left-box a{
    text-decoration: none;
}


.box-item .left-box p{
    color: #848B98;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'HRMedium';
    letter-spacing: -0.15px;
}



.box-item .left-box a:nth-child(2){
    background-color:#4CB147 ;
    padding: 6px 16px;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    margin-top: 16px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    font-family: 'HRMedium';
}

.box-item .left-box a:nth-child(3)::after{
    content: '';
    position: absolute;
    background-image: url(../icon/right-arrow.svg);
    background-repeat: no-repeat;
    color: #222;
    width: 24px;
    height: 24px;
    right: -38%;
    top: 30%;
}

.box-item .left-box a:nth-child(3){
    position: absolute;
    left: 6%;
    bottom: 5%;
    color: #222;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'HRMedium';
    letter-spacing: -0.15px;
}


.owl-first .owl-nav.disabled{
    display: block;
}

.owl-first .owl-nav .owl-next{
   transform: rotate(180deg);
   position: absolute;
   top: 50%;
   right: 1%;
}

.owl-first .owl-nav .owl-prev{
 position: absolute;
 top: 50%;
 left:-2%;
}



@media(max-width:576px){
    .box-item{
        width: 420px;
        height: 200px;
        margin: 0 auto;
        margin-top: 50px;
    }

 .box-item .right-box{
    width: 70%;
 }

    .box-item .left-box h3{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.25px;
        font-weight: 500;
        font-family: 'HRMedium';
    }
 
    .box-item .left-box:nth-child(2){
        padding: 4px 8px;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        font-family: 'HRRegular';
    }

    .box-item .left-box a:nth-child(3){
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        font-family: 'HRMedium';
        letter-spacing: -0.25px;
        position: absolute;
        left: 13%;
        
    }

    .box-item .left-box a:nth-child(3)::after{
        content: '';
        position: absolute;
        background-image: url(../icon/right-arrow.svg);
        background-repeat: no-repeat;
        color: #222;
        width: 24px;
        height: 24px;
        right: -44%;
        top: 25%;
    }
       
    .box-item .left-box p{
        color: #848B98;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        font-family: 'HRMedium';
        letter-spacing: -0.15px;
    }
    

    .owl-first .owl-nav .owl-next{
        display: none;
    }
 
    .owl-nav .owl-prev{
        display: none;
    }

      .owl-first .owl-dots{
        display: block;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .owl-first .owl-dots button{
        width: 12px;
        height: 12px;
        border-radius: 100%;
        background:#EDF0F4;
        margin: 0px 2px;
    }

    .owl-first .owl-dots  .active{
        background:#4CB147;
    }

    .information .container{
        width: 100%;
    }
}


 /** information-section html code */




  




 

 



/** popular doctor css code */

.popular-doctor .title{
    margin-top: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.popular-doctor .title h2{
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    font-family: 'HRMedium';
    color: #101825;
    margin-left: 23px;
}


.popular-doctor .title a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color:#B7BBC2;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'HRMedium';
    position: relative;
    margin-right: 37px;
    transition: all 0.3s linear;
}

.popular-doctor .title a i{
    margin-left: 7px;
}


.popular-doctor .title a:hover{
    color: #4CB147;
    cursor: pointer;
}




.popular-doctor .doctors{
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 8px  15px;
}





.popular-doctor .doctors .inner1{
    width: 360px;
    height: 245px;
    border: 1px solid #EDF0F4;
    border-radius: 8px;
    padding: 24px;
    cursor: pointer;
    transition: all 0.3s linear;
    background: #fff;
}


.popular-doctor .doctors .inner1:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}



.popular-doctor .doctors .inner1 .inner-text{
    display: flex;
}


.popular-doctor .doctors .inner1 .inner-text .left{
    position: relative;
}

.popular-doctor .doctors .inner1 .inner-text .left .heart{
  position: absolute;
    left: -11%;
    top: -8%;
    width: 32px;
    height: 32px;
} 


.popular-doctor .doctors .inner1 .inner-text .right{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    position: relative;
    margin-bottom: 8px;
}



.popular-doctor .doctors .inner1 .inner-text .right p:first-child{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRMedium';
    color: #848B98;
}


.popular-doctor .doctors .inner1 .inner-text .right p:last-child{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'HRMedium';
    color: #B7BBC2;
}




.popular-doctor .doctors .inner1 .inner-text .right h2{
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'HRMedium';
    color: #101825;
    margin-top: -10px;
}


.popular-doctor .doctors .inner1 .inner-text .right .ph2::after{
    content: '';
    background-image: url(../icon/video.svg);
    position: absolute;
    top: 33%;
    left: 106%;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}


.popular-doctor .doctors .inner1 .flat1{
    margin-top:16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRRegular';
    color: #273142;
}

.popular-doctor .doctors .inner1 .flat{
    margin-top:16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRRegular';
    color: #273142;
}

.popular-doctor .doctors .inner1 .flat span{
    margin-left: 18px;
}

.popular-doctor .doctors .inner1 .flat .span1{
    margin-left: 24px;
}


.popular-doctor .doctors .inner1 .flat1 span{
    margin-left: 12px;
}




.popular-doctor .doctors .inner1 .flat2{
    display: flex;
    align-items: center;
    margin-top:8px;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRRegular';
    color: #273142;
  
}

.popular-doctor .doctors .inner1 .flat1::after{
  content: '';
  width: 6px;
  height: 6px;
  background-image: url(../icon/dote.svg);
  position: absolute;
  background-repeat: no-repeat;
  top: 9%;
  right: 45%;
}

.popular-doctor .doctors .inner1 .flat::after{
    content: '';
    width: 6px;
    height: 6px;
    background-image: url(../icon/dote.svg);
    position: absolute;
    background-repeat: no-repeat;
    top: 9%;
    right: 67%;
  }
  
  


.popular-doctor .doctors .inner1 .flat2 .start-icon{
    margin-bottom: 5px;
    width: 20px;
    height: 20px;
}


.popular-doctor .doctors .inner1 .flat2 span{
    display: inline-block;
    color: #FFAD0D;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRRegular';
    padding: 0px 8px;
}


.popular-doctor .doctors .inner1 .wall{
    border-bottom: 1px solid #EDF0F4;
    width: 360px;
    margin-left: -26px;
}



.doctors .inner1 ul{
    margin-left: -45px;
    display: flex;
    list-style: none;
    position: relative;
}

.doctors .inner1 ul li  a::after{
    content: '';
    position: absolute;
    background-image: url(../icon/dote2.svg);
    width: 5px;
    height: 20px;
    background-repeat: no-repeat;
    top: 49%;
    left: 36%;
}



.doctors .inner1 ul li  a::before{
    content: '';
    position: absolute;
    background-image: url(../icon/dote2.svg);
    width: 5px;
    height: 20px;
    background-repeat: no-repeat;
    top: 49%;
    left: 59%;
}


.doctors .inner1 ul li  a{
    display: inline-block;
    text-decoration: none;
    color: #B7BBC2;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 11px 13px;
   
     
}


.bottom-area{
    margin-top: -30px;
    position: relative;
}



.owl-list .owl-nav.disabled{
    display: block;
}



.owl-nav .owl-prev{
 position: absolute;
 top: 45%;
 left: 0%;
}


.owl-nav .owl-next{
    position: absolute;
    top: 45%;
    right: 0%;
    transform: rotate(180deg);
}  



@media(max-width:576px){
    .popular-doctor .title h2 {
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        font-family: 'HRMedium';
        letter-spacing: -0.15px ;     
    }


    .popular-doctor .title a{
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        font-family: 'HRRegular';
    }
    

    .popular-doctor .owl-list .doctors .inner1{
        margin: 0 auto;
    }
    
    .owl-list .owl-nav{
        display: none;
    }




}












/* *popular-doctor css code */











/* *new-doctors css code */

.doctors{
    padding: 20px 10px;
}

.new-doctors .title{
    margin-top: 67px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.new-doctors .title h2{
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    font-family: 'HRMedium';
    color: #101825;
    margin-left: 17px;
}


.new-doctors .title a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color:#B7BBC2;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'HRMedium';
    position: relative;
    margin-right: 37px;
    transition: all 0.3s linear;
}


.new-doctors .title a i{
    margin-left: 8px;
}

.new-doctors .title a:hover{
    color: #4CB147;
}




.new-doctors .doctors{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 56px;
    position: relative;
}

.new-doctors .doctors .inner1{
    width: 360px;
    height: 198px;
    border: 1px solid #EDF0F4;
    border-radius: 8px;
    padding: 24px;
    cursor: pointer;
    transition: all 0.3s linear;
    background: #fff;
}

.new-doctors .doctors .inner1:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}


.new-doctors .doctors .inner1 .inner-text{
    display: flex;
}

.new-doctors .doctors .inner1 .inner-text .left{
    position: relative;
    
}

.new-doctors .doctors .inner1 .inner-text .left .heart{
  position: absolute;
    left: -11%;
    top: -8%;
    width: 32px;
    height: 32px;
} 



.new-doctors .doctors .inner1 .inner-text .right{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    position: relative;
}


.new-doctors .doctors .inner1 .inner-text .right p:first-child{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRMedium';
    color: #848B98;
}


.new-doctors .doctors .inner1 .inner-text .right p:last-child{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'HRMedium';
    color: #B7BBC2;
}





.new-doctors .doctors .inner1 .inner-text .right h2{
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'HRMedium';
    color: #101825;
    margin-top: -10px;
}

.new-doctors .doctors .inner1 .inner-text .right .ph2::before{
    content: '';
    background-image: url(../icon/video.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 33%;
    left: 109%;
}



.new-doctors .doctors .inner1 .flat{
    margin-top:-8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRRegular';
    color: #273142;
}


.new-doctors  .doctors .inner1 .wall{
    border-bottom: 1px solid #EDF0F4;
    width: 360px;
    margin-left: -26px;
    margin-top: 7px;
}



.new-doctors  .inner1 ul{

    display: flex;
    list-style: none;
    position: relative;
}

.new-doctors  .inner1 ul li  a::after{
    content: '';
    position: absolute;
    background-image: url(../icon/dote2.svg);
    width: 5px;
    height: 20px;
    background-repeat: no-repeat;
    top: 49%;
    left: 36%;
}



.new-doctors  .inner1 ul li  a::before{
    content: '';
    position: absolute;
    background-image: url(../icon/dote2.svg);
    width: 5px;
    height: 20px;
    background-repeat: no-repeat;
    top: 49%;
    left: 59%;
}

.new-doctors  .inner1 ul li  a{
    display: inline-block;
    text-decoration: none;
    color: #B7BBC2;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
} 



.owl-list2 .owl-nav.disabled{
    display: block;
}



.owl-nav .owl-prev{
 position: absolute;
 top: 50%;
 left: 0%;
 cursor: pointer;
}


.owl-nav .owl-next{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: rotate(180deg);
    cursor: pointer;
}  
  
/** new-doctors css code */







/* category section css code */


.category{
    margin-top: 70px;
    background: #fff;
}

.category h2{
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    color: #101825;
    font-family: 'HRMedium';
    font-weight: 500;
    margin-top: 56px;
    display: inline-block;
}


.category .boxes{
    display: flex;
    align-items: center;
    padding: 50px 0px;
 
}


.category .boxes .box1{
    width: 114px;
    height: 116px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.category .boxes .box1 p{
    font-size: 16px;
    line-height: 24px;
    font-family: 'HRMedium';
    font-weight: 500;
    margin-top: 12px;
    color: #101825;
}


.category .boxes .box1 img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

/* category section css code */





/* qosul section css code */


.qosul{
    margin-top: 60px; 
    padding: 20px;
}

.qosul h1{
    text-align: center;
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    font-family: 'HRMedium';
}

.qosul .grid-container{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 30px;
    margin-left: 8%;
   
}


.qosul .grid-container .item{
    width: 458px;
    height: 300px;
    border-radius: 8px;
    border: 1px solid #EDF0F4;
    cursor: pointer;
    transition: all 0.3s linear;
}

.qosul .grid-container .item .birinci{
    padding:20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'HRMedium';
}

.qosul .grid-container .ikinci{
    color: #B7BBC2;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'HRMedium';
    margin-top: -10px;
    padding: 0px 20px;
    color: #848B98;
     
}



.qosul .grid-container .item:hover{
    box-shadow: 0px 0px 15px rgba(0,0,0, 0.4); 
    cursor: pointer;
}


/* qosul section css code */







/*footer css code */


footer{
    margin-top: 120px;
    background-color: #101825;
}

.footer-content{
    display: flex;
}



.footer-content .left{
    padding: 40px;
}

.footer-content .left .groups{
    margin-top: 120px;
    display: flex;
    align-items: center;
    
}

.footer-content .left .groups img{
   padding-right: 7px;
}


.footer-content .right {
    /* padding: 40px;
    display: flex; */
    display: flex;
    padding: 40px 0px;
}

.footer-content .right ul{
    list-style: none;
    margin-left: 250px;
}

.footer-content .right ul li{
   list-style: none;
}

.footer-content .right ul p{
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'HRMedium';
}


.footer-content .right ul li a{
    text-decoration: none;
    color: #fff;
    padding: 6px 0;
    display: inline-block;
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'HRMedium'
}



.footer-bottom{
    background-color: rgba(16, 17, 22, 0.4);
    padding: 0 20px;

}


.footer-bottom .umumi{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}


.footer-bottom .left ul{
    display: flex;
}


.footer-bottom .left ul li{
    list-style: none;
}

.footer-bottom .left ul li a{
    display: inline-block;
    padding: 15px;
}
 
