
@import url(./font.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 80%;
    margin: 0 auto;
}


body{
    height: 2000px;
}




/* *duzelish information section css code */

/* 
.box-item{
    margin-top: 50px;
    width: 556px;
    height: 304px;
    border: 1px solid #EDF0F4;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

}

 .box-item .right-box{
    width: 80%;
}

.box-item .right-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-item .left-box{
    padding: 24px;
    position: relative;
}


.box-item .left-box h3{
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    font-family: 'HRMedium';
}


.box-item .left-box a{
    text-decoration: none;
}


.box-item .left-box p{
    color: #848B98;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'HRMedium';
    letter-spacing: -0.15px;
}



.box-item .left-box a:nth-child(2){
    background-color:#4CB147 ;
    padding: 6px 16px;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    margin-top: 16px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    font-family: 'HRMedium';
}

.box-item .left-box a:nth-child(3)::after{
    content: '';
    position: absolute;
    background-image: url(../icon/right-arrow.svg);
    background-repeat: no-repeat;
    color: #222;
    width: 24px;
    height: 24px;
    right: -38%;
    top: 30%;
}

.box-item .left-box a:nth-child(3){
    position: absolute;
    left: 6%;
    bottom: 5%;
    color: #222;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'HRMedium';
    letter-spacing: -0.15px;
}


.owl-first .owl-nav.disabled{
    display: block;
}

.owl-first .owl-nav .owl-next{
   transform: rotate(180deg);
   position: absolute;
   top: 50%;
   right: 1%;
}

.owl-nav .owl-prev{
 position: absolute;
 top: 50%;
 left: -2%;
}


@media(max-width:576px){
    .box-item{
        width: 328px;
        height: 200px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .box-item .left-box h3{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.25px;
        font-weight: 500;
        font-family: 'HRMedium';
    }
 
    .box-item .left-box:nth-child(2){
        padding: 4px 8px;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        font-family: 'HRRegular';
    }

    .box-item .left-box a:nth-child(3){
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        font-family: 'HRMedium';
        letter-spacing: -0.25px;
        position: absolute;
        left: 13%;
        
    }

    .box-item .left-box a:nth-child(3)::after{
        content: '';
        position: absolute;
        background-image: url(../icon/right-arrow.svg);
        background-repeat: no-repeat;
        color: #222;
        width: 24px;
        height: 24px;
        right: -44%;
        top: 25%;
    }
       
    .box-item .left-box p{
        color: #848B98;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        font-family: 'HRMedium';
        letter-spacing: -0.15px;
    }
    

    .owl-first .owl-nav .owl-next{
        display: none;
    }
 
    .owl-nav .owl-prev{
        display: none;
    }

      .owl-first .owl-dots{
        display: block;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .owl-first .owl-dots button{
        width: 12px;
        height: 12px;
        border-radius: 100%;
        background:#EDF0F4;
        margin: 0px 2px;
    }

    .owl-first .owl-dots  .active{
        background:#4CB147;
    }

} */

/* *duzelish information section css code */











/* *populyar-hekimler section css code */

 /* .popular-doctor{
    margin-top: 56px;
}

.popular-doctor .title-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}


.popular-doctor .title-text h4{
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    font-family: 'HRMedium';
    color: #101825;
}


.popular-doctor .title-text a{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'HRMedium';
    letter-spacing: -0.15px;
    text-decoration: none;
    transition: all 0.3s linear;
    cursor: pointer;
    color: #101825;
}

.popular-doctor .title-text i{
    margin-left: 7px;
}

.popular-doctor .title-text a:hover{
    color: #4CB147;
}

.popular-doctor .doctors{
    padding: 20px 0px;
}



.popular-doctor .doctors .inner1{
    width: 360px;
    height: 245px;
    border: 1px solid #EDF0F4;
    border-radius: 8px;
    padding: 24px;
    cursor: pointer;
    transition: all 0.3s linear;
    background: #fff;
}


.popular-doctor .doctors .inner1:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}



.popular-doctor .doctors .inner1 .inner-text{
    display: flex;
}


.popular-doctor .doctors .inner1 .inner-text .left{
    position: relative;
}

.popular-doctor .doctors .inner1 .inner-text .left .heart{
  position: absolute;
    left: -11%;
    top: -8%;
    width: 32px;
    height: 32px;
} 


.popular-doctor .doctors .inner1 .inner-text .right{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    position: relative;
    margin-bottom: 8px;
}



.popular-doctor .doctors .inner1 .inner-text .right p:first-child{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRMedium';
    color: #848B98;
}


.popular-doctor .doctors .inner1 .inner-text .right p:last-child{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'HRMedium';
    color: #B7BBC2;
}




.popular-doctor .doctors .inner1 .inner-text .right h2{
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'HRMedium';
    color: #101825;
    margin-top: -10px;
}


.popular-doctor .doctors .inner1 .inner-text .right .ph2::after{
    content: '';
    background-image: url(../icon/video.svg);
    position: absolute;
    top: 33%;
    left: 106%;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}


.popular-doctor .doctors .inner1 .flat1{
    margin-top:16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRRegular';
    color: #273142;
}

.popular-doctor .doctors .inner1 .flat{
    margin-top:16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRRegular';
    color: #273142;
}

.popular-doctor .doctors .inner1 .flat span{
    margin-left: 18px;
}

.popular-doctor .doctors .inner1 .flat .span1{
    margin-left: 24px;
}


.popular-doctor .doctors .inner1 .flat1 span{
    margin-left: 12px;
}




.popular-doctor .doctors .inner1 .flat2{
    display: flex;
    align-items: center;
    margin-top:8px;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRRegular';
    color: #273142;
}

.popular-doctor .doctors .inner1 .flat1::after{
  content: '';
  width: 6px;
  height: 6px;
  background-image: url(../icon/dote.svg);
  position: absolute;
  background-repeat: no-repeat;
  top: 9%;
  right: 45%;
}

.popular-doctor .doctors .inner1 .flat::after{
    content: '';
    width: 6px;
    height: 6px;
    background-image: url(../icon/dote.svg);
    position: absolute;
    background-repeat: no-repeat;
    top: 9%;
    right: 67%;
  }
  
  


.popular-doctor .doctors .inner1 .flat2 .start-icon{
    margin-bottom: 5px;
    width: 20px;
    height: 20px;
}


.popular-doctor .doctors .inner1 .flat2 span{
    display: inline-block;
    color: #FFAD0D;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRRegular';
    padding: 0px 8px;
}


.popular-doctor .doctors .inner1 .wall{
    border-bottom: 1px solid #EDF0F4;
    width: 360px;
    margin-left: -26px;
}



.doctors .inner1 ul{
    margin-left: -45px;
    display: flex;
    list-style: none;
    position: relative;
}

.doctors .inner1 ul li  a::after{
    content: '';
    position: absolute;
    background-image: url(../icon/dote2.svg);
    width: 5px;
    height: 20px;
    background-repeat: no-repeat;
    top: 49%;
    left: 36%;
}



.doctors .inner1 ul li  a::before{
    content: '';
    position: absolute;
    background-image: url(../icon/dote2.svg);
    width: 5px;
    height: 20px;
    background-repeat: no-repeat;
    top: 49%;
    left: 59%;
}


.doctors .inner1 ul li  a{
    display: inline-block;
    text-decoration: none;
    color: #B7BBC2;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 11px 13px;
}


.bottom-area{
    margin-top: -30px;
    position: relative;
}



.owl-list .owl-nav.disabled{
    display: block;
}



.owl-nav .owl-prev{
 position: absolute;
 top: 45%;
 left: -2%;
}


.owl-nav .owl-next{
    position: absolute;
    top: 45%;
    right: 1%;
    transform: rotate(180deg);
}  





@media(max-width:576px){
   
    .popular-doctor .doctors{
      margin-left: 5px;
    }

    .popular-doctor .title-text h4{
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        font-family: 'HRMedium';
        color: #101825;
        letter-spacing: -0.15px;
    }

    .popular-doctor .title-text a{
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        font-family: 'HRRegular';

    }

    .owl-list .owl-nav{
        display: none;
    }


   
.popular-doctor .doctors .inner1 .inner-text .right p:first-child{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: -0.25px;
    font-family: 'HRMedium';
    color: #848B98;
}


.popular-doctor .doctors .inner1 .inner-text .right h2{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.15px;
    font-family: 'HRMedium';
    color: #101825;
    margin-top: -10px;
}


.popular-doctor .doctors .inner1 .flat2{
    letter-spacing: -0.25px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'HRRegular';
    color: #273142;
}

.popular-doctor .doctors .inner1 .inner-text .right .ph2::after{
    content: '';
    background-image: url(../icon/video.svg);
    position: absolute;
    top: 30%;
    left: 106%;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}


} */


/* *populyar-hekimler section css code */






/*  *new-doctors section html code  */

/* .new-doctors {
    margin-top: 56px;
}

.new-doctors .title-text{
    margin-top: 67px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.new-doctors  .title-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}


.new-doctors  .title-text h4{
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    font-family: 'HRMedium';
    color: #101825;
}


.new-doctors  .title-text a{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'HRMedium';
    letter-spacing: -0.15px;
    text-decoration: none;
    transition: all 0.3s linear;
    cursor: pointer;
    color: #101825;
}

.new-doctors  .title-text i{
    margin-left: 7px;
}

.new-doctors .title-text a:hover{
    color: #4CB147;
}




.new-doctors .doctors{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 56px;
    position: relative;
    padding: 20px 0px;

}

.new-doctors .doctors .inner1{
    width: 360px;
    height: 198px;
    border: 1px solid #EDF0F4;
    border-radius: 8px;
    padding: 24px;
    cursor: pointer;
    transition: all 0.3s linear;
    background: #fff;
}

.new-doctors .doctors .inner1:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}


.new-doctors .doctors .inner1 .inner-text{
    display: flex;
}

.new-doctors .doctors .inner1 .inner-text .left{
    position: relative;
    
}

.new-doctors .doctors .inner1 .inner-text .left .heart{
  position: absolute;
    left: -11%;
    top: -8%;
    width: 32px;
    height: 32px;
} 



.new-doctors .doctors .inner1 .inner-text .right{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    position: relative;
}


.new-doctors .doctors .inner1 .inner-text .right p:first-child{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRMedium';
    color: #848B98;
}


.new-doctors .doctors .inner1 .inner-text .right p:last-child{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'HRMedium';
    color: #B7BBC2;
}





.new-doctors .doctors .inner1 .inner-text .right h2{
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'HRMedium';
    color: #101825;
    margin-top: -10px;
}

.new-doctors .doctors .inner1 .inner-text .right .ph2::before{
    content: '';
    background-image: url(../icon/video.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 33%;
    left: 109%;
}



.new-doctors .doctors .inner1 .flat{
    margin-top:-8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRRegular';
    color: #273142;
}


.new-doctors  .doctors .inner1 .wall{
    border-bottom: 1px solid #EDF0F4;
    width: 360px;
    margin-left: -26px;
    margin-top: 7px;
}



.new-doctors  .inner1 ul{
    display: flex;
    list-style: none;
    position: relative;
    margin-left: -45px;
}

.new-doctors  .inner1 ul li  a::after{
    content: '';
    position: absolute;
    background-image: url(../icon/dote2.svg);
    width: 5px;
    height: 20px;
    background-repeat: no-repeat;
    top: 49%;
    left: 34%;
}



.new-doctors  .inner1 ul li  a::before{
    content: '';
    position: absolute;
    background-image: url(../icon/dote2.svg);
    width: 5px;
    height: 20px;
    background-repeat: no-repeat;
    top: 49%;
    left: 55%;
}

.new-doctors  .inner1 ul li  a{
    display: inline-block;
    text-decoration: none;
    color: #B7BBC2;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
   padding: 10px;

} 



.owl-new .owl-nav.disabled{
    display: block;
}

 .owl-new .owl-nav .owl-prev{
 position: absolute;
 top: 50%;
 left: -2%;
 cursor: pointer;
}


.owl-new .owl-nav .owl-next{
    position: absolute;
    top: 50%;
    right: 1%;
    transform: rotate(180deg);
    cursor: pointer;
}  



@media(max-width:576px){

    .new-doctors .container{
        width: 100%;
    }

    .new-doctors{
    margin-top: 48px;
   }

   .new-doctors .doctors{
      margin-left: 5px;
     
    }

    .new-doctors.title-text h4{
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        font-family: 'HRMedium';
        color: #101825;
        letter-spacing: -0.15px;
    
    }

    .new-doctors .title-text a{
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        font-family: 'HRRegular';

    }

    .owl-new .owl-nav{
        display: none;
    }


    .new-doctors .doctors .inner1{
        width: 400px;
        height: 200px;
    }




    .new-doctors .doctors .inner1 .inner-text .right p:first-child{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: -0.25px;
    font-family: 'HRMedium';
    color: #848B98;
}


.new-doctors .doctors .inner1 .inner-text .right h2{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.15px;
    font-family: 'HRMedium';
    color: #101825;
    margin-top: -10px;
}


.new-doctors .doctors .inner1 .flat2{
    letter-spacing: -0.25px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'HRRegular';
    color: #273142;
}

.new-doctors .doctors .inner1 .inner-text .right .ph2::before{
    content: '';
    background-image: url(../icon/video.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 30%;
    left: 109%;
}

.new-doctors  .inner1 ul li  a::after{
    content: '';
    position: absolute;
    background-image: url(../icon/dote2.svg);
    width: 5px;
    height: 20px;
    background-repeat: no-repeat;
    top: 49%;
    left: 31%;
}



.new-doctors  .inner1 ul li  a::before{
    content: '';
    position: absolute;
    background-image: url(../icon/dote2.svg);
    width: 5px;
    height: 20px;
    background-repeat: no-repeat;
    top: 49%;
    left: 50%;
}

} */


/*  *new-doctors section html code  */





/* *category section html code */

/* body{
    background: #FCFCFD;
}

 .category{
    margin-top: 70px;
    background: #fff;
    padding: 56px 0px;

}

.category h3{
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    color: #101825;
    font-family: 'HRMedium';
    font-weight: 500;

}


.category .boxes{
    display: flex;
    align-items: center;
    padding: 50px 0px;
 
}


.category .boxes .box1{
    width: 114px;
    height: 116px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.category .boxes .box1 p{
    font-size: 16px;
    line-height: 24px;
    font-family: 'HRMedium';
    font-weight: 500;
    margin-top: 12px;
    color: #101825;
}


.category .boxes .box1 img{
    width: 80px;
    height: 80px;
    object-fit: cover;
} 



@media(max-width:576px){
    .owl-category .boxes .box1{
       margin: 0px 70px; 
    }
   
} */

/* *category section css code */







/* *qosul section css code */

/* 
.qosul{
    margin-top: 60px; 
    padding: 20px;
}


.qosul h2{
    text-align: center;
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    font-family: 'HRMedium';
}


.qosul .main-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.qosul .main-section .left-main{
    width: 458px;
    height: 292px;
    border-radius: 8px;
    border: 1px solid #EDF0F4;
    cursor: pointer;
    transition: all 0.3s linear;
}

.qosul .main-section .left-main img{
    max-width: 576px;
    width: 100%;
}

.qosul .main-section .left-main .birinci{
    padding:20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'HRMedium';
    padding: 5px 20px;
}


.qosul .main-section  .left-main a{
    color: #B7BBC2;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'HRMedium';
    margin-top: 10px;
    padding: 0px 20px;
    color: #848B98;
    text-decoration: none;
    transition: all 0.3s linear;
}

.qosul .main-section  .left-main a:hover{
    color: #4CB147;
}

.qosul .main-section .left-main:hover{
    box-shadow: 0px 0px 15px rgba(0,0,0, 0.4); 
    cursor: pointer;
}


@media(max-width:576px){
    .qosul .main-section{
        display: flex;
        flex-direction: column;
    }

    .qosul h2{
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        font-family: 'HRMedium';
        color:#101825 ;
        margin-bottom: 17px;
    }


    .qosul .main-section .left-main .birinci{
        padding:20px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        letter-spacing: -0.1px;
        font-family: 'HRMedium';
        padding: 5px 20px;
    }
    
    .qosul .main-section  .left-main a{
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        font-family: 'HRMedium';
        letter-spacing: -0.1px;
    
    }
    
    .qosul .main-section .left-main{
        margin-bottom: 15px;
        width:328px;
        height: 226px;
    }
} */

/* *qosul section css code */




/**footer css code */

/* 

footer{
    margin-top: 120px;
    background-color: #101825;
}

.footer-content{
    display: flex;
}


.footer-content .left{
    padding: 40px;
}

.footer-content .left .groups{
    margin-top: 120px;
    display: flex;
    align-items: center;
    
}

.footer-content .left .groups img{
   padding-right: 7px;
}


.footer-content .right {
    display: flex;
    padding: 40px 0px;
}

.footer-content .right ul{
    list-style: none;
    margin-left: 250px;
}

.footer-content .right ul li{
   list-style: none;
}

.footer-content .right ul p{
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'HRMedium';
}


.footer-content .right ul li a{
    text-decoration: none;
    color: #fff;
    padding: 6px 0;
    display: inline-block;
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'HRMedium'
}



.footer-bottom{
    background-color: rgba(16, 17, 22, 0.4);
    padding: 0 20px;

}


.footer-bottom .umumi{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}


.footer-bottom .left ul{
    display: flex;
}


.footer-bottom .left ul li{
    list-style: none;
}

.footer-bottom .left ul li a{
    display: inline-block;
    padding: 15px;
}
 


@media(max-width:576px){

    footer{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .footer-content{
        display: flex;
        flex-direction: column;
    }
    
    .footer-content .left{
        padding: 0px;
        margin-top: 8px;
    }
    .footer-content .left .groups{
        margin-top: 23px;
    }

    .footer-content .right{
        display: flex;
        flex-direction: column;
        padding: 0px auto;

    }

    .footer-content .right ul{
       margin-left: -20px;
    }

    .footer-content .right ul p{
        margin: 20px 0px;
    }

    .footer-bottom{
        height: 70px;
    }


    .footer-bottom .umumi{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .footer-bottom .umumi .left{
        position: absolute;
        bottom: 8%;
        left: 5%; 
    }
    
    .footer-bottom .umumi .right p{
      padding: 15px 0px;
    }

} */

/* *footer section css code */






/* *search section header css code */

/* header{
    background: #fff;
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav .left{
    display: flex;
    align-items: center;
    padding: 20px 0;
}

nav .left img{
    margin-left: 18px;
    cursor: pointer;
}

.right select{
    padding: 10px 12px;
    border: 1px solid #eaeaea;
    cursor: pointer;
    border-radius: 8px;
}

@media(max-width:576px){
    header .right select{
        display: none;
    }

    .container{
        width: 100%;
    }

    nav .left a img{
        width: 121px;
        height: 32px;
    }

}


nav .right a{
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    font-family: 'HRMedium';
    border: 1px solid #eaeaea;
    border-radius: 8px;
    width: 108px;
    height: 40px;
    padding: 10px 24px;
    margin-left: 10px;
    text-decoration: none;
    text-align: center;
}



.right a:nth-child(2){
    color: #252525;
}

@media(max-width:576px){
    header .right a:nth-child(2){
        display: none;
    }

    .right a:nth-child(3){
        background-color: #4CB147;
        color: #fff;
        width: 86px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        font: size 12px;
        line-height: 16px;
        font-weight: 400;
        font-family: 'HRRegular';
    }
}


.right a:nth-child(3){
    background-color: #4CB147;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    font-family: 'HRMedium';
} */

/* *search section header css code */








/** search section css code */

/* .search{
    width: 100%;
    height: 312px;
    border: 1px solid #EDF0F4;
    background: #FBFBFC;

}

.search h1{
    margin-top: 32px;
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    font-family: 'HRMedium';
}


.search form .form-group{
    display: flex;
    flex-direction: column;
    position: relative;
}

.search form .form-group input{
    width: 752px;
    height: 48px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #EDF0F4;
    margin: 16px 0;
    padding-left: 55px;
    
}

.search form .form-group .searc-icon{
    position: absolute;
    top: 23%;
    left: 2%;
}


.search form .form-group span{
    font-size: 48px;
    line-height: 56px;
    color: #B7BBC2;
}

.search .bottom-hisse .qeyd{
    width: 240px;
    height: 48px;
    border: 1px solid #EDF0F4;
    display: flex;
    align-items: center;
    border-radius: 8px;
    position: relative;
}

.search .bottom-hisse{
    margin-top: 24px;
    display: flex;
    align-items: center;
    
}


.search .bottom-hisse .qeyd .down-icon{
        position: absolute;
        right: 8%;
}


.search .bottom-hisse .qeyd a{
    padding: 8px 12px;
    background-color: #4CB147;
    color: #fff;
    margin-left: 10px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
}


.multiselect {
    width: 200px;
    margin: 0px 15px;
  }
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 12px;
    border-radius: 8px;
   border: 1px solid #4CB147;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes {
    display: none;
    border: 1px #dadada solid;
    border-radius: 8px;
  }
  
  #checkbox{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  
  
  #checkboxes label {
    display: block;
  }
  
  #checkboxes label:hover {
    background-color:#4CB147;
  }

/* 
.search .bottom-hisse #secim{
    width: 240px;
    height: 48px;
    border: 1px solid #4CB147;
    outline: none;
    margin: 0 15px;
    border-radius: 8px;
} 


.search .bottom-hisse .video{
    width: 200px;
    height: 48px;
    border: 1px solid #EDF0F4;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0px 15px;
}

.search .bottom-hisse .video .video-icon{
    padding: 7px;
}



.umumi-video .video-gorus:nth-last-child(2){
    margin-top: 100px;
    right: 0%;
}



.video-gorus{
    position: absolute;
    top: 20%;
    right: 0%;
    border: 1px solid #EDF0F4;
    padding: 12px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 250px;
    height: 80px;
    background-color:#fff;
}

.video-gorus .birinci-gorus{
    display: flex;
    align-items: center;  
}



.video-gorus .birinci-gorus p{
    display: flex;
    padding: 0px 8px;
    margin-left: 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRMedium';
}


.video-gorus .birinci-gorus .doctor-video{
    width: 56px;
    height: 56px;
}

.video-gorus .birinci-gorus .melumat{
    display: flex;
    flex-direction: column;

}


.video-gorus .birinci-gorus .melumat .layout{
    margin-left: 7px;
    margin-top: 6px;
}



.video-gorus .birinci-gorus .melumat  button{
    padding: 2px 8px;
    background-color: #4CB147;
    border: 1px solid #EDF0F4;
    outline: none;
    cursor: pointer;
    color: #fff;
    border-radius: 7px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'HRMedium';
    margin-left: 12px;
}

.video-gorus .birinci-gorus .melumat p{
    align-items: center;
    display: flex;
}

.video-gorus .birinci-gorus .melumat span{
    margin-left: 10px;
    background-color: #EDF0F4;
    border-radius: 7px;
    padding: 2px 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'HRMedium';

}



.odeme{
    position: absolute;
    top: 110%;
    right: 0%;
    display: flex;
    align-items: center;
    z-index: 999;
    border: 1px solid #EDF0F4;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #fff;
}

.odeme .left{
    padding: 8px;
    position: relative;
}

.odeme .right{
    padding: 8px;
}


.odeme .right p{
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRMedium';
}

.odeme .right p img{
    margin-left: 5px;
    margin-top: 6px;
}

.odeme .right button{
    padding: 2px 8px;
    background-color: #FFAD0D;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'HRMedium';
    outline: none;
    border-radius: 7px;
    border: 1px solid #EDF0F4;
    color: #fff;
    cursor: pointer;
}


.odeme .x-icon{
    position: absolute;
    top: 0%;
    left: 22%;
}

.search .form-group p{
    display: none;
}




@media(max-width:576px){
 
    .search{
        height: auto;
    }


    .search .umumi-video{
        display: none;
    }

    .search .odeme{
        display: none;
    }


    .search .bottom-hisse{
        display: none;
    }
  
    .search h1{
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        font-family: 'HRMedium';
        letter-spacing: -0.15px;
        color: #101825;
    }

    .search .form-group{
        position: relative;
    }

    .search .form-group #axtaris{
        width: 400px;
        height: 44px;
        margin: 0px;
    }

    .search form .form-group .searc-icon{
        position: absolute;
        top: 8%;
        left: 2%;
    }

    .search .form-group .scd{
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        font-family: 'HRMedium';
        letter-spacing: -0.15px;
        color: #101825;
        margin-top: 16px;
        margin-bottom: 24px;
        color: #B7BBC2;
    }

    .search .form-group .scd img{
        width: 8px;
        height: 28px;
    }

    .search .form-group p{
        display: flex;
        position: absolute;
        color: #4CB147;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        font-family: 'HRMedium';
        letter-spacing: -0.15px;
        top: -25%;
        right: 0%;

    }

    .search .form-group p::before{
        content: '';
        background-image: url(../icon/filterr.svg);
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        position: absolute;
        left: -40%;
        cursor: pointer;
    }
} 
/** search section css code */











/** doctors-list section css code */
/* 
.doctors-list{
    margin-top: 32px;
    position: relative;
    
}

.doctors-list .bitir{
    position: absolute;
    bottom: 50%;
    right: 0%;
}

.doctors-list .left-side{
    display: flex;
    padding: 20px;
}


.doctors-list .left-side .shekil-hisse{
    position: relative;
}


.doctors-list .left-side .shekil-hisse p{
    display: flex;
    align-items: center;
    color: #4CB147;
}

.doctors-list .left-side .shekil-hisse .heart-icon{
    position: absolute;
    top: 0;
    left: 0;
}



.doctors-list .left-side  .text-hisse{
   margin-left: 24px;
}

.doctors-list .left-side  .text-hisse .basliq{
    color: #848B98;
    padding: 4px 0;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'HRMedium';
}

.doctors-list .left-side  .text-hisse h4{
    padding: 4px 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    font-family: 'HRMedium';
}

.doctors-list .left-side  .text-hisse p{
    padding: 4px 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRRegular';
   
}

.doctors-list .left-side  .text-hisse .star-icon{
    margin-bottom: -4px;
}


.doctors-list .left-side .gorus{
    display: flex;
    align-items: center;
    margin-top: 12px;
    cursor: pointer;
}

.doctors-list .left-side .gorus .birinci-gorus{
    width: 115px;
    height: 68px;
    border: 1px solid #EDF0F4;
    border-radius: 8px;
    padding: 6px;
    position: relative;

}

.doctors-list .left-side .gorus .birinci-gorus p{
    font-size: 14px;
    line-height: 16px;
    font-family: 'HRMedium';
}

.doctors-list .left-side .gorus .birinci-gorus .info-icon{
    position: absolute;
    top: 5%;
    right: 5%;
}



.doctors-list .left-side .gorus .ikinci-gorus{
    width: 115px;
    height: 68px;
    border: 1px solid #D45A5A;
    border-radius: 8px;
    padding: 6px;
    position: relative;
    margin-left: 5px;
    background: #e07e7e;
}

.doctors-list .umumi-section .left-side .gorus .ikinci-gorus p{
    font-size: 14px;
    line-height: 16px;
    font-family: 'HRMedium';

}

.doctors-list .left-side .gorus .ikinci-gorus .info-icon{
    position: absolute;
    top: 5%;
    right: 5%;
}


.doctors-list .umumi-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #EDF0F4;
    padding: 30px;
    margin: 16px 0;
    background-color: #fff;
}


.doctors-list .umumi-section .right-side{
    display: flex;
    position: relative;
  
}




.doctors-list .umumi-section .right-side ul p{
    width: 64px;
    height: 46px;
    border: 1px solid #EDF0F4;
    border-radius: 8px;
    text-align: center;
    padding: 4px;
    margin-bottom: 21px;
    transition: all 0.3s linear;
    
  
}


.doctors-list .umumi-section .right-side ul li{
    list-style: none;
}


.doctors-list .umumi-section .right-side ul li a{
    text-decoration: none;
    color: #252525;
    border: 1px solid #EDF0F4;
    padding: 5px 12px;
    border-radius: 7px;
    display: inline-block;
    margin: 5px;
    background-color: #EDF0F4;
    cursor: pointer;
    transition: all 0.3s linear;
}



.doctors-list .umumi-section .right-side ul li a:hover{
    background: #4CB147;
}


.doctors-list .umumi-section .right-side ul p:hover{
    background: #4CB147;
    cursor: pointer;
}






.doctors-list .umumi-section .right-side .solteref-icon{
    position: absolute;
    left: -5%;
    width: 32px;
    height: 32px;
    cursor: pointer;
}


.doctors-list .umumi-section .right-side .yasil-right-icon{
    position: absolute;
    right: -4%;
    top: 1%;
    cursor: pointer;

}


.slow-side{
    display: flex;
    flex-direction: column;
    
}

.slow-side .zamanlar{
    display: flex;
}

.slow-side .zamanlar a:hover{
    background: #4CB147;
    cursor: pointer;

}

.slow-side .zamanlar a{
    width: 64px;
    height: 46px;
    border: 1px solid #EDF0F4;
    border-radius: 7px;
    padding: 8px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: all 0.3s linear;
  
}

.slow-side .qeydler{
    border: 1px solid #EDF0F4;
    width: 352px;
    height: 96px;
    padding: 16px;
    margin-top: 21px;
    border-radius: 7px;
}

.slow-side .qeydler p{
   font-size: 14px;
   line-height: 20px;
   font-family: 'HRRegular';
   letter-spacing: -0.25px;
   font-weight: 500;
}

.qeydler .alt-xett{
  border: 1px solid #EDF0F4 ;
  width: 352px;
  margin-left: -17px;
  margin-top: 7px;
}


.slow-side .qeydler .ikinci{
    margin-top: 7px;
    text-align: center;
    color: #4CB147;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 12px 0px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #4CB147;
    cursor: pointer;
    letter-spacing: -0.1px;
}

.slow-side .qeydler .ikinci img{
    padding: 0px 8px;
    cursor: pointer;
}



.umumi-section .left-side .gorus-g{   
 color: #fff;
 display: flex;
justify-content: center;
font-size: 14px;
line-height: 20px;
letter-spacing: -0.5px;
font-weight: 500;
font-family: 'HRMedium';
padding: 10px 85px;
background-color: #4CB147;
border-radius: 8px;
display: none;
}


.umumi-section .text-hisse .qyd{
    display: none;
}


@media(max-width:576px){

    .doctors-list .umumi-section{
        padding: 0px;
    }

    .doctors-list .umumi-section .right-side{
        display: none;
    }

    .doctors-list .umumi-section .slow-side{
        display: none;
    }

    .doctors-list .umumi-section .slow-side .qeydler{
        display: block;
    }


    
    .doctors-list .umumi-section .left-side .shekil1{
        width: 80px;
        height: 80px;
    }

    .doctors-list .left-side  .text-hisse{
        margin-left: 24px;
     }
     
     .doctors-list .left-side  .text-hisse .basliq{
         color: #848B98;
         font-size: 20px;
         line-height: 28px;
         font-weight: 400;
         font-family: 'HRMedium';
     }
     
     .doctors-list .left-side  .text-hisse h4{
         font-size: 16px;
         line-height: 24px;
         font-weight: 500;
         font-family: 'HRMedium';
     }
     
     .doctors-list .left-side  .text-hisse p{
         font-size: 16px;
         line-height: 24px;
         font-weight: 400;
         font-family: 'HRRegular';
     }


     .doctors-list .left-side  .text-hisse .basliq{
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        font-family: 'HRRegular';
        letter-spacing: -0.5px;
     }


     .doctors-list .left-side .gorus{
        display: flex;
        /* align-items: center; 
     }


     .doctors-list .left-side .gorus .birinci-gorus{
        width: 140px;
        height: 48px;
        border: 1px solid #EDF0F4;
        border-radius: 8px;
        padding: 10px;
        position: relative;
        display: flex;
       
    
    }
    
    .doctors-list .left-side .gorus .birinci-gorus p{
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        font-family: 'HRRegular';
        margin-left: 5px;
    }
    .doctors-list .left-side .gorus .birinci-gorus .gorush-icon{
        width: 20px;
        height: 20px;
    }


    
    .doctors-list .left-side .gorus .birinci-gorus .info-icon{
       display: none;
    }
    
    
    
    .doctors-list .left-side .gorus .ikinci-gorus{
        width: 140px;
        height: 48px;
        border: 1px solid #D45A5A;
        border-radius: 8px;
        padding: 10px;
        position: relative;
        margin-left: 5px;
        display: flex;
        
    }
    
    .doctors-list .left-side .gorus .ikinci-gorus p{
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        font-family: 'HRRegular';
        margin-left: 5px;
    }
    
    .doctors-list .left-side .gorus .ikinci-gorus .info-icon{
       display: none;
    }
    
    .doctors-list .left-side  .text-hisse .star-icon{
        margin-bottom: 5px;
    }


    
.umumi-section .left-side  .gorus-g{   
    color: #fff;
    display: flex;
   justify-content: center;
   font-size: 14px;
   line-height: 20px;
   letter-spacing: -0.5px;
   font-weight: 500;
   font-family: 'HRMedium';
   background-color: #4CB147;
   border-radius: 8px;
   text-align: center;
   margin: 16px auto;
   outline: none;
   border: none;
   width: 280px;
   height: 40px;
   }
   
   .umumi-section .text-hisse .qyd{
    display: block;
    border: 1px solid #EDF0F4;
    width: 280px;
    height: 84px;
    margin-top: 21px;
    margin: 10px auto;
}

.umumi-section .text-hisse .qyd p{
   font-size: 12px;
   line-height: 20px;
   font-family: 'HRRegular';
   letter-spacing: -0.25px;
   font-weight: 500;
   text-align: center;
}

.umumi-section .text-hisse .qyd .alt-xt{
  border: 1px solid #EDF0F4 ;
  width: 280px;
  margin-top: -10px;
}


.umumi-section .text-hisse .qyd .knc{
    text-align: center;
    color: #4CB147;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 12px 0px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #4CB147;
    cursor: pointer;
    letter-spacing: -0.1px;
    text-decoration: none;
}

.umumi-section .text-hisse .qyd .knc img{
    padding: 0px 8px;
    cursor: pointer;
}
} 

/** doctors-list section css code */








/**footer css code */
/* 

footer{
    margin-top: 50px;
    background-color: #101825;
}

.footer-content{
    display: flex;
}


.footer-content .left{
    padding: 40px;
}

.footer-content .left .groups{
    margin-top: 120px;
    display: flex;
    align-items: center;
    
}

.footer-content .left .groups img{
   padding-right: 7px;
}


.footer-content .right {
    display: flex;
    padding: 40px 0px;
}

.footer-content .right ul{
    list-style: none;
    margin-left: 250px;
}

.footer-content .right ul li{
   list-style: none;
}

.footer-content .right ul p{
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'HRMedium';
}


.footer-content .right ul li a{
    text-decoration: none;
    color: #fff;
    padding: 6px 0;
    display: inline-block;
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'HRMedium'
}



.footer-bottom{
    background-color: rgba(16, 17, 22, 0.4);
    padding: 0 20px;

}


.footer-bottom .umumi{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}


.footer-bottom .left ul{
    display: flex;
}


.footer-bottom .left ul li{
    list-style: none;
    color: #fff;
}

.footer-bottom .left ul li a{
    display: inline-block;
    padding: 15px;
}
 


@media(max-width:576px){

    footer{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .footer-content{
        display: flex;
        flex-direction: column;
    }
    
    .footer-content .left{
        padding: 0px;
        margin-top: 8px;
    }
    .footer-content .left .groups{
        margin-top: 23px;
    }

    .footer-content .right{
        display: flex;
        flex-direction: column;
        padding: 0px auto;

    }

    .footer-content .right ul{
       margin-left: -20px;
    }

    .footer-content .right ul p{
        margin: 20px 0px;
    }

    .footer-bottom .umumi .right p{
        padding: 15px 0px;
      }

    .footer-bottom{
        height: 70px;
    }


    .footer-bottom .umumi{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .footer-bottom .umumi .left{
        position: absolute;
        bottom: 8%;
        left: -6%; 

    }

} */

/* *footer section css code */










/* !doctor profile 1 css codes */



/* header css code */
.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background: #fff;
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav .left{
    display: flex;
    align-items: center;
    padding: 20px 0;
}

nav .left img{
    margin-left: 18px;
    cursor: pointer;
}

.right select{
    padding: 10px 12px;
    border: 1px solid #eaeaea;
    cursor: pointer;
    border-radius: 8px;
}

@media(max-width:576px){
    header .right select{
        display: none;
    }

    .container{
        width: 100%;
    }

    nav .left a img{
        width: 121px;
        height: 32px;
    }

}


nav .right a{
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    font-family: 'HRMedium';
    border: 1px solid #eaeaea;
    border-radius: 8px;
    width: 108px;
    height: 40px;
    padding: 10px 24px;
    margin-left: 10px;
    text-decoration: none;
    text-align: center;
}



.right a:nth-child(2){
    color: #252525;
}

@media(max-width:576px){
    header .right a:nth-child(2){
        display: none;
    }

    .right a:nth-child(3){
        background-color: #4CB147;
        color: #fff;
        width: 86px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        font: size 12px;
        line-height: 16px;
        font-weight: 400;
        font-family: 'HRRegular';
    }
}


.right a:nth-child(3){
    background-color: #4CB147;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    font-family: 'HRMedium';
}
/* header css code */






/* doctors-list  css code */
.doctors-list{
    margin-top: 32px;
    position: relative;
    border: 1px solid #EDF0F4;
    background-color: #FBFBFC;
    height: 248px;
}

.umumi-section{
    padding: 32px 0;
}

.doctors-list .bitir{
    position: absolute;
    bottom: 50%;
    right: 0%;
}

.doctors-list .left-side{
    display: flex;
    padding: 20px;
}


.doctors-list .left-side .shekil-hisse{
    position: relative;
}

 
.doctors-list .shekil-hisse::before{
    content: '';
    background-image: url(../icon/heart.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    top: 0%;
    left:0%;
    position: absolute;
}

.umumi-section .left-side .text-hisse{
    padding: 0px 24px;
    position: relative;
 }

.umumi-section .text-hisse .txt{
    color: #4CB147;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    font-family: 'HRMedium';
    letter-spacing: -0.15px;
}

.umumi-section .text-hisse h2{
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    font-family: 'HRMedium';
}

.umumi-section .text-hisse p{
    font: size 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRMedium';
    color: #273142;
}

.umumi-section .text-hisse .xst{
    font: size 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRRegular';
    color: #848B98;
}


.umumi-section .text-hisse span{
    margin-left: 10px;
}


.umumi-section .text-hisse .unvan::after{
    content: '';
    background-image: url(../icon/dote.svg);
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 59%;
    right: 20%;
}



.umumi-section .text-hisse .unvan::before{
    content: '';
    background-image: url(../icon/dote.svg);
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 59%;
    left: 20%;
    

}





.umumi-section .text-hisse .xst::after{
    content: '';
    background-image: url(../icon/dote.svg);
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 83%;
    right: 33%;
}



.umumi-section .text-hisse .xst::before{
    content: '';
    background-image: url(../icon/dote.svg);
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 83%;
    left: 37%;
}


.doctors-list .gorus{
    display: none;
}

.umumi-section .btnn{
    display: none;
}









@media(max-width:576px){

      .doctors-list{
        height: 320px;
      }

      
.doctors-list .umumi-section{
    padding: 0px;
}

.umumi-section .text-hisse .txt{
    color: #4CB147;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'HRMedium';
    letter-spacing: -0.15px;
}

.umumi-section .text-hisse  h2{
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    font-family: 'HRMedium';
    margin-top: -1px;
}

.umumi-section .text-hisse .unvan{
    font: size 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRMedium';
    color: #273142;
    position: relative;
    top: 15%;
    left: -40%;
    padding: 15px 0px;

}

.umumi-section .text-hisse .xst{
    font: size 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'HRRegular';
    color: #848B98;
    position: relative;
    top: 0%;
    left: -40%;

}


.umumi-section .text-hisse span{
    margin-left: 20px;
}



.umumi-section .text-hisse .unvan::after{
    content: '';
    background-image: url(../icon/dote.svg);
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 45%;
    right: 15%;
}




.umumi-section .text-hisse .unvan::before{
    content: '';
    background-image: url(../icon/dote.svg);
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 45%;
    left: 15%;
}




.umumi-section .text-hisse .xst::after{
    content: '';
    background-image: url(../icon/dote.svg);
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 35%;
    right: 30%;
}



.umumi-section .text-hisse .xst::before{
    content: '';
    background-image: url(../icon/dote.svg);
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 35%;
    left: 35%;
}


     .umumi-section  .gorus{
        display: flex;
        margin-left: 40px;
        margin-top: -30px;
        
     } 



     .doctors-list  .gorus .birinci-gorus{
        width: 160px;
        height: 48px;
        border: 1px solid #EDF0F4;
        border-radius: 8px;
        padding: 15px;
        position: relative;
        display: flex;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s linear;
    }

    .doctors-list  .gorus .birinci-gorus:hover{
        box-shadow: 0px 0px 15px rgba(0, 0,0, 0.4);
    }



    
    .doctors-list  .gorus .birinci-gorus p{
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        font-family: 'HRRegular';
        margin-left: 5px;
    }
    .doctors-list .gorus .birinci-gorus .gorush-icon{
        width: 32px;
        margin-top: -10px;
        height: 32px;
       
    }

    .doctors-list .gorus .birinci-gorus .info-icon{
       display: none;
    }
    
    
    .doctors-list  .gorus .ikinci-gorus{
        width: 160px;
        height: 48px;
        border: 1px solid #D45A5A ;
        border-radius: 8px;
        margin-left: 10px;
        background: #FAECEC;
        padding: 15px;
        position: relative;
        display: flex;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s linear;
        
    }
    .doctors-list .gorus .ikinci-gorus .gorush-icon{
        width: 32px;
        margin-top: -10px;
        height: 32px;
       
    }
    
    .doctors-list .gorus .ikinci-gorus p{
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        font-family: 'HRRegular';
        margin-left: 5px;
        
    }

    .doctors-list  .gorus .ikinci-gorus .info-icon{
       display: none;
    }



    .doctors-list  .gorus .ikinci-gorus:hover{
        box-shadow: 0px 0px 15px rgba(0, 0,0, 0.4);
    }




  .umumi-section .btnn{
    display: flex;
    margin-top: 16px;
    border: 1px solid #4CB147 ;
    width: 328px;
    height: 40px;
    border-radius: 8px;
    margin-left: 40px;
    padding: ;
    text-align: center;
    justify-content: center;
    background: #4CB147;
    color: #fff;
    text-decoration: none;
    padding: 7px 0px;

  }

}


/* doctors-list  css code */













/* about-section css code */

.aboutt{
    border: 1px solid #EDF0F4;
    width: 100%;
    
   
}

.aboutt ul{
    display: flex;
}

.aboutt ul li{
    list-style: none;
}

.aboutt ul li a{
    display: flex;
    justify-content: center;
    color: #848B98;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.25px;
    font-weight: 400;
    margin-top: 7px;
    font-family: 'HRRegular';
    padding:8px;
    cursor: pointer;
}

.aboutt ul li .active{
    color: #273142;
}

@media(max-width:576px){
 
    .aboutt{
     
        margin-right: 0px;
    }

    .aboutt ul li a{
        display: flex;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.25px;
        font-weight: 400;
        font-family: 'HRRegular';
        padding: 5px;
        margin-top: 7px;
    }

}

/* about-section css */







/* about-text section css code */

.haqqinda{
    margin-top: 32px;
    position: relative;
}


.haqqinda p:nth-child(2){
    padding-top: 16px;
}

.haqqinda .deyer{
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.haqqinda span{
    padding: 0px 7px;
}

.haqqinda p:nth-child(4){
    padding: 16px 0px;
}

.haqqinda .iconss{
    display: flex;
    flex-direction: column;
    position: relative;
    background: red;
   
}

.haqqinda .iconss .ic{
    text-decoration: none;
    color: #252525;
    margin-bottom: 15px;
    font-size: 16px;
    line-height:24px;
    letter-spacing: -0.25px;
    font-weight: 400;
    font-family: "HRRegular";
    margin-left: 40px;
}

.haqqinda .iconss .ic::after{
    content: '';
    background-image: url(../icon/phone-icon.svg);
    width:32px;
    height: 32px;
    background-repeat: no-repeat;
    position: absolute;
    top: -7%;
    left: 0%;
}

.haqqinda .iconss .ic::before{
    content: '';
    background-image: url(../icon/msj-icon.svg);
    width:32px;
    height: 32px;
    background-repeat: no-repeat;
    position: absolute;
    top: 45%;
    left: 0%;
}

.haqqinda .check-icon{
    position: absolute;
    top: 0%;
    right: 36%;
}

.haqqinda .gorus-icon{
    position: absolute;
    top: 27%;
    right: 38%;
}





 @media(max-width:576px){
.about-section{
    margin-top: 50px;
}
 
    .about-text{
        padding: 0px 28px;
        display: flex;
        flex-direction: column;
    }

    .haqqinda .check-icon{
      display: none;
    }
    
    .haqqinda .gorus-icon{
      display: none;
    }

    .haqqinda .iconss .ic{
        margin-bottom: 0px;
    }
    .haqqinda p:nth-child(2){
        padding-top: 0px;
    }
    
    .haqqinda .deyer{
        margin-top: 8px;
        display: flex;
        align-items: center;
    }
    
    .haqqinda span{
        padding: 0px 7px;
    }
    
    .haqqinda p:nth-child(4){
        padding: 0px;
    }

    .haqqinda .iconss .ic{
       
    }

  

}












